<div class="user_account_back" style="margin-top: 100px;">
  <br>
  <h2 class="edit-acc">Change your password</h2>

  <%# Ta strona będzie dokończony gdy będzie miała uprawnienia do modyfikacji danych z bazy natomiast teraz jej nie ma. %>
</div>