<nav class="main-nav">
    <%= link_to "Home", root_path, class: 'nav-link' %>
    <%= link_to "About Us", home_about_path, class: 'nav-link'%>
    <%= link_to "Contact", home_contact_path, class: 'nav-link'%>
    <%= link_to  "Login", new_user_session_path, class: 'nav-login' %>
</nav>