<div class="main-content">
    <div class="container">
        <h1>Czym jest ta strona?</h1>
        Strona ta powstała by pomóc zarówno
        uczniom jak i pasjonatom w różnych dziedzinach
        uczyć się nowych umiejętności i poszerzać swoje
        kwalifikacje.
    </div>
</div>