<div class="main-content">
    <div class="title">Go for IT</div>
    <div class="subtitle">Naucz się IT! Już dziś! Za darmo!</div>

    <div class="stat-counter">
        Mamy 0 kursów i 0 zarejstrowanych użytkowników, <br>
        a nasza strona ma już 000000 odwiedzin
    </div>
</div>