<div id="<%= dom_id film %>">
  <p>
    <strong>Title:</strong>
    <%= film.title %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= film.desc %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= film.video_url %>
  </p>

</div>
