


<div class="main-content">
    <div class="container">
        <h1>New film</h1>
        <%= render "form", film: @film %>

        <br>

        <div>
          <%= link_to "Back to courses", courses_path %>
        </div>
    </div>
</div>