<div id="<%= dom_id course %>" class="course">
  <div class="course-details">
    <p class="course-title">
      <%= course.title %>
    </p>

    <p class="course-desc">
      <%= course.desc %>
    </p>
  </div>

  <p>
    <%= image_tag course.cover_url, class:"course-cover" %> <!-- Jeż weź zrób żeby ta okładka była jakiegoś sensownego rozmiaru IDK, jakieś 480x320, poeksperymentuj -->
  </p>

</div>