<div id="<%= dom_id course %>">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= course.desc %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= image_tag course.cover_url %>
  </p>

</div>
