<div id="<%= dom_id course %> course">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= course.desc %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= image_tag course.cover_url %> <!-- Jeż weź zrób żeby ta okładka była jakiegoś sensownego rozmiaru IDK, jakieś 480x320, poeksperymentuj -->
  </p>

</div>