<div id="<%= dom_id course %>" class="course">
  <div class="course-details">
    <p class="course-title">
      <%= course.title %>
    </p>

    <p class="course-desc">
      <%= course.desc %>
    </p>
  </div>

  <p>
    <%= image_tag course.cover_url, class:"course-cover" %>
  </p>

</div>

<script>
 const desc = document.querySelector(".course-desc")
 const title = document.querySelector(".course-title")
 const details = document.querySelector(".course-details")
 const course = document.querySelector(".course")

 console.log(desc.offsetHeight, title.offsetHeight)
 console.log(desc.offsetHeight + title.offsetHeight, details.offsetHeight)
 const odej = details.offsetHeight - title.offsetHeight - 10
 
 details.style.bottom = -odej + "px"


 course.addEventListener("mouseleave", () => {
  details.style.bottom = -odej + "px"
 })
 course.addEventListener("mouseenter", () => {
  details.style.bottom = 0
 })
 

</script>