<p style="color: green"><%= notice %></p>

<div class="main-content">
    <div class="container">
      <%if user_signed_in?%>
        <h1>Nasze kursy</h1>

        <div id="courses">
          <% @courses.each do |course| %>
            <%= render course %>
            <p class="course-show">
              <%= link_to "Pokaż więcej", course %>
            </p>
          <% end %>
        </div>

        <% if current_user.admin %>
          <%= link_to "Stwórz kurs", new_course_path %>
        <% end %>

      <% else %>
        <h1>Zaloguje się by przeglądać kursy!</h1>
      <% end %>

    </div>
</div>