<p style="color: green"><%= notice %></p>




<div class="main-content">
    <div class="container">
        <h1>Nasze kursy</h1>

        <div id="courses">
          <% @courses.each do |course| %>
            <%= render course %>
            <p>
              <%= link_to "Show this course", course %>
            </p>
          <% end %>
        </div>

      <%if user_signed_in?%>
        <%= link_to "Stwórz kurs", new_course_path %>
      <% end %>
    </div>
</div>