/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;


    --bg-color-acc: #8a2be2;
    --bg-color: #2b2b2b;

    --selection: #1b1b1b;
    --selection-color: white;


    font-family: 'Poppins', sans-serif;
}

html, body
{
    background-color: #2b2b2b;
}

:root {
    font-size: 62.5%;
}

*::selection{
    background-color: var(--selection);
    color: var(--selection-color);
}

.main-nav
{
    position: fixed;
    background-color: var(--bg-color-acc);
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999999999;
    /* overflow: hidden; */
}

.main-menu, .main-konto {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
}

.main-menu {
    overflow: hidden;
}

.nav-link
{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    margin-left: 30px;
    float: left;
    position: relative
}

.nav-link:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 2px;
    background-color: white;
    pointer-events: none;
    transition: 200ms ease-out;
}

.nav-link:hover:after {
    bottom: 0;
}

.main-content
{
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    color: silver;
    width: calc(100% - 400px);
}

.title
{
    font-size: 6.2rem;
}

.subtitle
{
    font-size: 4.8rem;
}

.nav-login
{
    background-color: var(--bg-color-acc);
    color: white;
    border: 1px solid white;
    margin: 0 30px 0 0;
    font-size: 2rem;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-profile {
    width: 40px;
    height: 40px;
    margin: 0 30px 0 0;
    padding: 0;
    position: relative;
}

.nav-profile-box {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    margin: 0;
    border-radius: 50%;
}

.nav-pfp {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2b2b2b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-profile-menu {
    position: absolute;
    right: 50px;
    top: -10px;
    background-color: #383838;
    padding: 5px 10px;
    width: 200px;
    color: white;
    border-radius: 5px;
    display: none;
    z-index: 9999;
    box-shadow: 5px 5px 15px 0 black;
}

.nav-profile-menu hr {
    color: var(--bg-color-acc);
}

.nav-profile-menu::after {
    content: "";
    display: block;
    width: 10px;
    aspect-ratio: 1;
    transform: rotate(45deg);
    background-color: #383838;
    position: absolute;
    top: 10px;
    right: -5px;
}

.menu-elem {
    color: white;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    cursor: pointer;
}

ul li {
    list-style-type: none;
    font-size: 1.8rem;
    cursor: pointer;
    width: fit-content;
    z-index: 999999;
}

.logout-btn {
    background: none;
    color: rgb(238, 51, 51);
}



.nav-fill {
    color: var(--bg-color-acc);
    background-color: white;
    border: 1px solid var(--bg-color-acc);
}

.stat-counter
{
    font-size: 3rem;
    margin-top: 100px;
    text-align: center;
}

.container
{
    font-size: 2.5rem;
}

.login-form
{
    text-align: center;
    color: silver;
    width: 50%;
    margin: auto;
}

.login-input
{
    /* border: 2px solid blueviolet; */
    border:none;
    background-color: #1f1f1f;
    color: silver;
    font-size: 2.5rem;
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: inset 2px 2px 2px black;
}

.login-submit
{
    border: none;
    background-color: #1f1f1f;
    color: silver;
    font-size: 2.5rem;
    border-radius: 50px;
    margin-bottom: 30px;
    padding: 10px 20px;
    text-decoration: none;
    width: 200px;
    height: 60px;
    /* box-shadow: inset 2px 2px 2px black; */
    position: relative;
    cursor: pointer;
    transition: 200ms ease-out;
}

.login-submit:hover {
    color: #1f1f1f;
    background-color: silver;
}

.login-no-account
{
    text-align: center;
}

.login-label
{
    font-size: 2.5rem;
}

.login-link
{
    font-size: 2rem;
    text-decoration: none;
    color: blueviolet;
    transition: 0.2s;
}

.login-link:hover
{
    font-size: 2rem;
    color: silver;
    transition: 0.2s;
}

.welcome
{
    text-align: center;
}

.update-text
{
    font-size: 6rem;
}

.course {
    width: 26rem;
    height: 38rem;
    overflow: hidden;
    border: 1px solid var(--bg-color-acc);
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.course-cover {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    transform-origin: center;
    transition: scale 200ms ease-out;
}

.course:hover .course-cover {
    scale: 1.01;
}

.course-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#3e265391;
    backdrop-filter: blur(5px);
    z-index: 9;
    padding: 0.5rem;
    transition: 200ms ease-out;
}

.course-title {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
}

.course-desc {
    font-size: 1.8rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.user-edit-text {
    font-size: 2.8rem;
    color: white;
}

.delete-account, .aktualizuj-dane {
    text-align: center;
}


.change-avatar {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.avatar {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: #1f1f1f 1px solid;
    background-color: #1f1f1f;
    box-shadow: inset 2px 2px 2px black;
}

.rest-avatars {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #1f1f1f;
}