/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;


    --bg-color-acc: #8a2be2;
    --bg-color: #2b2b2b;

    --selection: #1b1b1b;
    --selection-color: white;
    font-family: 'Poppins', sans-serif;
}

html, body
{
    background-color: #2b2b2b;
}

*::selection{
    background-color: var(--selection);
    color: var(--selection-color);
}

.main-nav
{
    position: fixed;
    background-color: var(--bg-color-acc);
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu, .main-konto {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
}

.nav-link
{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 30px;
    float: left;
}

.main-content
{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    color: silver;
    width: calc(100% - 400px);
}

.title
{
    font-size: 60px;
}

.subtitle
{
    font-size: 40px;
}



.nav-login
{
    background-color: var(--bg-color-acc);
    color: white;
    border: 1px solid white;
    margin: 0 30px 0 0;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-profile {
    width: 40px;
    height: 40px;
    margin: 0 30px 0 0;
    padding: 0;
    position: relative;
}

.nav-profile-box {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    margin: 0;
    border-radius: 50%;
}

.nav-pfp {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2b2b2b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-profile-menu {
    position: absolute;
    right: 50px;
    top: -10px;
    background-color: #383838;
    padding: 5px 10px;
    width: 200px;
    color: white;
    border-radius: 5px;
    display: none;
}

.nav-profile-menu hr {
    color: var(--bg-color-acc);
}


.nav-profile-menu::after {
    content: "";
    display: block;
    width: 10px;
    aspect-ratio: 1;
    transform: rotate(45deg);
    background-color: #383838;
    position: absolute;
    top: 10px;
    right: -5px;
}

.menu-elem {
    color: white;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
}

ul li {
    list-style-type: none;
    font-size: 18px;
    cursor: pointer;
    width: fit-content;
}

.logout-btn {
    background: none;
    color: rgb(238, 51, 51);
}



.nav-fill {
    color: var(--bg-color-acc);
    background-color: white;
    border: 1px solid var(--bg-color-acc);
}



.stat-counter
{
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
}

.container
{
    font-size: 25px;
}

.login-form
{
    text-align: center;
    color: silver;
}

.login-input
{
    border: 2px solid blueviolet;
    background-color: rgb(43, 43, 43);
    color: silver;
    font-size: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px;
}

.login-submit
{
    border: 2px solid blueviolet;
    background-color: rgb(43, 43, 43);
    color: silver;
    font-size: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s;
}

.login-submit:hover
{
    border: 2px solid blueviolet;
    color: rgb(43, 43, 43);
    background-color: silver;
    font-size: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px;
    transition: 0.2s;
}

.login-no-account
{
    text-align: center;
}

.login-label
{
    font-size: 25px;
}

.login-link
{
    font-size: 20px;
    text-decoration: none;
    color: blueviolet;
    transition: 0.2s;
}

.login-link:hover
{
    font-size: 20px;
    color: silver;
    transition: 0.2s;
}

.welcome
{
    text-align: center;
}

.update-text
{
    font-size: 25px;
}